extends layout

block content
  h1 #{title}
  form(method='POST', action='/websites/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label URL:
      input.form-control(name='url', type='text')
    #form-group
      label Description:
      textarea.form-control(name='description')
    br
    input.btn.btn-primary(type='submit',value='Submit')